@import url(./main.css);
/* start header */
.navbar-light .navbar-brand {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary);
}

.navbar-light .navbar-brand:hover {
  color: var(--primary);
}

button.btn-lo1 {
  padding: 15px 20px;
  font-weight: 700;
  font-size: 14px;
  color: var(--primary);
  border-color: var(--primary);
  text-transform: uppercase;
  transition: 0.3s;
}
button.btn-lo1.btn-outline-danger:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

button.btn-lo1.btn-danger {
  background-color: var(--primary);
  color: #fff;
}
button.btn-lo1.btn-danger:hover {
  background-color: #d62f58;
  border-color: #d62f58;
}
.fa-angle-down {
  font-size: 12px;
}

.navbar-expand-lg .navbar-nav .nav-link.nav-lo1 {
  padding: 5px 0;
  font-weight: 400;
  color: var(--title-color);
  transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link.nav-lo1.active {
  color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link.nav-lo1 {
  color: var(--primary);
}
.nav-link.nav-lo1 {
  position: relative;
  padding: 0;
  margin: 0 20px;
  overflow: hidden;
}
.nav-link.nav-lo1::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0px;
  left: 0;
  transform: translateX(-30px);
  transition: 0.5s;
}

li.nav-item:hover .nav-link.nav-lo1::after {
  transform: translateX(0);
}

.navbar-nav {
  margin-right: 20px;
}

nav span.fa {
  color: #fff;
}

.navbar-toggler {
  background-color: var(--primary);
}
.navbar-toggler.collapse .icon-expand {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  z-index: 5;
}
/* end header */

/* start getstart */

.getStart {
  width: 100%;
  padding-top: 100px;
  background-image: url(../img/getStart-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.getStart::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.getStart .container {
  position: relative;
  z-index: 2;
}

.getStart__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 57.5px;
  color: var(--title-color);
}
.getStart__desc {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 80%;
  margin: 20px 0 40px 0;
}
.getStart__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-top: 130px; */
}
.getStart__right {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.getStart__right img {
  transform: rotate(180deg);
  max-width: 95%;
}
/* end getstart */

/* start chooseUs */

.chooseUs {
  padding: 70px 0;
}

.title__sub {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary);
  text-transform: uppercase;
}

.title__main {
  font-weight: 700;
  font-size: 46px;
  line-height: 1;
  width: 90%;
  max-width: 650px;
  margin: 10px 0 20px;
  color: var(--title-color);
}

.chooseUs .title__main {
  margin-inline: auto;
}

.title__desc {
  width: 90%;
  max-width: 700px;
}
.chooseUs .title__desc {
  margin-inline: auto;
}

.chooseUs__card {
  margin-top: 50px;
}

.chooseUs__card--item {
  text-align: center;
  background-color: var(--light-bg-color);
  padding: 45px 35px;
  border-radius: 5px;
  transition: 0.3s;
}
.chooseUs__card--item:hover {
  transform: translateY(-15px);
  box-shadow: var(--card-hover-box-shadow);
  background-color: #fff;
  border-color: #fff;
}
.chooseUs__item--title {
  font-size: 26px;
  font-weight: 700;
  color: var(--title-color);
}
.chooseUs__item--title {
  padding: 20px 0;
}
/* end chooseUS */

/* start About */
.about {
  background: var(--light-bg-color);
  padding-top: 70px;
}
.about__left {
  padding-top: 30px;
}
.about .title__desc {
  margin-bottom: 40px;
}
.about__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__img {
  max-width: 80%;
  position: relative;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.about__img:hover {
  transform: translateY(-20px);
}

.about__bottom {
  padding: 50px 0;
}
.about__item {
  border-radius: 10px;
  background-color: #fff;
  padding: 35px 30px 20px;
  box-shadow: var(--card-box-shadow);
  transition: 0.3s;
}
.about__item:hover {
  box-shadow: var(--card-hover-box-shadow);
}
.about__item--title {
  color: var(--title-color);
  font-weight: 700;
}
.about .number {
  padding: 2px 0;
  color: var(--primary);
  font-size: 50px;
  font-weight: 700;
}
/* end About */

/* back to top */
.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #f2597ca1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.backToTop:hover {
  cursor: pointer;
}
.backToTop i {
  color: #fff;
  font-size: 20px;
}
/* end backtotop */

/* sidebar */
.right-sidebar {
  position: fixed;
  z-index: 4;
  top: 70px;
  right: 0;
  /* padding-top: 200px; */
  background-color: #0d1326;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 10px 0 0 10px;
}
.right-sidebar i,
.right-sidebar span {
  color: #e6ebff;
  font-size: 16px;
}

.right-sidebar__bottom--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  text-decoration: none;
}
.right-sidebar__bottom--item i,
.right-sidebar__bottom--item span {
  color: var(--text-color);
  transition: 0.3s;
}
.right-sidebar__bottom--item:hover i,
.right-sidebar__bottom--item:hover span {
  color: #fff;
}
.right-sidebar__bottom--item:first-child {
  padding-top: 30px;
}
.right-sidebar__top--item {
  display: block;
  padding: 30px;
  border-bottom: 1px solid #545253;
}
/* end sidebar */

/* mobile */
@media screen and (max-width: 576px) {
  .getStart__left {
    padding-top: 50px;
  }
  .chooseUs__card--item {
    margin-bottom: 40px;
  }

  .about__img {
    max-width: 90%;
    left: 0;
    margin-top: 30px;
  }

  .about__item {
    margin-bottom: 30px;
  }

  .nav-item {
    margin: 0 auto;
  }
  nav .btn.btn-lo1 {
    display: block;
    margin: 0 auto;
  }
}

/* mobile: w < 740px */
@media only screen and (max-width: 46.1875em) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .getStart__left {
    padding-top: 50px;
  }
  .chooseUs__card--item {
    margin-bottom: 40px;
  }
  .about__img {
    max-width: 90%;
    left: 0;
    margin-top: 30px;
  }
  .about__item {
    margin-bottom: 30px;
  }
  .nav-item {
    margin: 0 auto;
  }
  nav .btn.btn-lo1 {
    display: block;
    margin: 0 auto;
  }

  .right-sidebar {
    width: 80px;
  }
  .right-sidebar i,
  .right-sidebar span {
    font-size: 12px;
  }
  .right-sidebar__bottom--item {
    padding: 18px;
  }
  .right-sidebar__top--item {
    padding: 18px;
  }
}

/* tablet: w > 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .getStart__left {
    padding-top: 50px;
  }
  .chooseUs__card--item {
    margin-bottom: 40px;
  }
  .about__img {
    max-width: 90%;
    left: 0;
    margin-top: 30px;
  }
  .about__item {
    margin-bottom: 30px;
  }
  .nav-item {
    margin: 0 auto;
  }
  nav .btn.btn-lo1 {
    display: block;
    margin: 0 auto;
  }
}
